.background {
  background-image: url('../images/background_image2.jpg'); 
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  padding-bottom:400px;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:visited {
  color:white;;
}

/* mouse over link */
a:hover {
  color: rgb(112, 135, 253);
}

.main-stage {
  width:70%;
  color: rgb(255, 255, 255);
  float:right;
  display:block;
}

.welcome-text {
  margin-left: 20px;
  color:white;
  float:left;
  display:block;
}

.welcome-text:hover {
  margin-left: 20px;
  color:rgb(112, 135, 253);
  float:left;
  display:block;
}

.welcome-search {
  margin: 18% 30% ;
}

.logo-front {
  color:rgb(170, 184, 253);
  font-size: 2.5em
}
.logo-back {
  color:rgb(112, 135, 253);
  font-size: 2.5em
}

.logo-front:hover {
  color:rgb(112, 135, 253);
  font-size: 2.5em
}
.logo-back:hover {
  color:rgb(170, 184, 253);
  font-size: 2.5em
}

.nav {
  padding-top: 18px;
  display:block;
  float:right;
  margin-right: 20px;
  width:17%;
}

.nav-left{
  float:left;
  display:block;
}

.nav-right{
  float:right;
  display:block;
}

.welcome-search {
  
  padding-top:1%;
  
}

.main-search {
  margin: 0 auto;
  padding-top:35px;
  width: 40%;
  
}

.main-search-text {
  color:white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  
}

.searchcontainer {
  
  margin: 0 auto;
  width:60%
}

.search-text {
  color: white;
  margin-right: 2px
}

.searchbox {
  float:left;
  display:block;
  height:28px;
width: 190px;
border: 2px solid rgb(159, 175, 255);
background:  #fffefe;
}

.dropdown {
float:right;
display:block;
border: 1px solid rgb(159, 175, 255);
background:  #dbdbdb;
  display:inline;
}

.searchbutton {
  padding: 18% 15% 0% 30%;
  
}

.button {
  width: 100px
}

.button:hover {
  background-color:  rgb(112, 135, 253);
  color:  rgb(170, 184, 253);
}

.link-style {
  color:  rgb(170, 184, 253);
}

.link-style:hover {
  color:  rgb(112, 135, 253);
}

.logo-link-style {
  color:  #000000; 
}

.movie-card {
  
  --webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);

width: 60%;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 3px solid rgb(112, 135, 253);
background:  #e4e4ec;  
margin: 0 auto 20px;

}


.movie-card-image{
  margin-right: 10%;
  height: 100%
}
.movie-card-title {
  
  
  color: rgb(32, 52, 151);
  
}


.flex-row {
  flex-direction: row;
  display: flex;
  
}

.flex-column {
  flex-direction: column;
  display: flex;
  margin-right: 5px;
}

.flex-body {
  display: flex;
}

.flex-body div:not([class*="flex"]) {
  
  flex: 1 1 200px;
  width: 10%;
}